/*body {
  font-family: 'Montserrat', sans-serif;
}*/

button {
  border-radius: 5px;
  border-color: #0082a3 !important;
}

button:focus, input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 800px) {
  p, h2 {
    font-size: 14px;
  }
}

.btn-app {
  background-color: #0082A3 !important;
  border-color: #0082A3 !important;
  margin: 15px;

}

p {
  margin-bottom: 4px !important;
}

h2 {
  font-size: 20px !important;
  padding-bottom: 10px;
  font-weight: 500; 
}
